// BREAKPOINTS
$bp-larger-than-mobile    : "min-width: 320px";
$bp-larger-than-phablet   : "min-width: 550px";
$bp-larger-than-tablet    : "min-width: 750px"; /*was 750*/
$bp-larger-than-desktop   : "min-width: 1000px";
$bp-larger-than-desktophd : "min-width: 1200px";

// UNIVERSAL COLORS
$color__background:rgba(255, 254, 243, 1);
$color__black:rgba(35, 31, 32, 1);
$color__black--80:rgba(35, 31, 32, 0.8);
$color__railred:rgba(207, 74, 55, 1);
$color__railred--dark:rgba(134, 18, 3, 1);
$color__railblue:rgba(11,69,89,1);
$color__coral:rgba(255,127,81,1);
$color__yellow:rgba(255,215,80,1);

/* MIXINS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// standard fading
@mixin fade($fade) {
-webkit-transition: all $fade;
transition: all $fade;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}