// Project custom styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

body {
	background: $modestGrey100; 
	font-family: $fontLight;
}

// set padding on breakpoints change
%set-gutter {
	padding: 30px 15px;
	
	@media (#{$bp-larger-than-tablet}) {
		padding: 55px 40px;
	
	}	
}

// header
.topbar {	
	@include cover-image("../img/bg_header.jpg", "center 50px");
	// min-height: 723px; 		
	position: relative;	
	
	@media (#{$bp-larger-than-tablet}) {
		background-position: center 80px; 
	} 	

	&__top {
		background: $primary-color-red;

		&__container {
			@extend .container;
			height: 50px;  
			padding: 0;
	    
			@media (#{$bp-larger-than-phablet}) {
				height: 80px; 
			} 
			
			&__logo {				
				position: absolute;
				width: 47px; 
				height: 34px;
				overflow: hidden;
				line-height: 500px; 
				background: url("../img/logo_white_small.svg") no-repeat;
				background-size: 100% 100%; 
				top: 8px;
				left: 15px;
				margin-bottom: 0; 
		
				@media (#{$bp-larger-than-phablet}) {
					width: 92px; 
					height: 51px;
					background: url("../img/logo-white.svg") no-repeat;
					top: 14px;
				}

				@media (#{$bp-larger-than-tablet}) {
					left: 30px;
				}
				
				a {
					display: block; 
					width: 47px; 
					height: 34px;
					overflow: hidden;
					
					@media (#{$bp-larger-than-phablet}) {
						width: 92px; 
						height: 51px;
					}
				}
			}			
		}
	}

	&__middle {	
		@extend .container;
		padding: 0;
		height: 600px;
		
		&__container {
			@include centerer(false, true);
			left: 15px;
		
			@media (#{$bp-larger-than-tablet}) {
				left: 30px;
				right: 30px; 
			}
			
			&__title {
				font-size: 2.8rem;
				color: #fff;
				font-family: $fontHeavy;
				height: 168px;
				line-height: 168px;
				background: url("../img/award.svg") no-repeat;
				padding-left: 200px;
				
				@media (#{$bp-larger-than-tablet}) {
					font-size: 4rem;
				}
				
				span {
					display: inline-block; 
					line-height: 1; 	
					margin-top: auto;			
				}
			}

			&__subtitle {
				font-size: 3rem;
				color: #fff;
				font-family: $fontHeavy;
				background: $primary-color-red;
				padding: 10px 15px;
				margin-bottom: 1rem;
				display: inline-block;
		    
				@media (#{$bp-larger-than-tablet}) {
					font-size: 4.2rem;
					padding: 16px 20px;
				}
			}
		}

		&__img {
			display: none;
			position: absolute;
			bottom: 0;
			right: 0;
			@media (#{$bp-larger-than-phablet}) {
				display: block; 
				height: 300px;
			}
			@media (min-width: 850px) {
				height: 350px;
			}
			@media (min-width: 900px) {
				height: auto;
			}
		}				
	}

	&__bottom {
		width: 100%;
		height: 78px; 
		position: absolute;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,.5);	
		
		&__container {
			@extend .container;
			padding: 0;
			min-height: 78px;
		}
	}
}

// main content
.content {
	@extend .container;
	@extend %set-gutter;
	
	@media (#{$bp-larger-than-tablet}) {		
	}

	// intro block	
	&__intro {
		@extend %set-gutter;
		background: $primary-color-red;
		color: #fff;  
	
		@media (#{$bp-larger-than-phablet}) {
								
		}
		
		&__title {
			font-family: $fontBold;
			font-size: 2.4rem;
	
			@media (#{$bp-larger-than-tablet}) {
				font-size: 3rem;						
			}
		}
	}


}

// hide elements on bigger screens
%smaller-only {
	@media (#{$bp-larger-than-phablet}) {
		display: none;
	}	
}

// hide elements on smaller screens
%bigger-only {
	@media (#{$bp-smaller-than-phablet}) {
		display: none;
	}	
}














