//fonts
//––––––––––––––––––––––––––––––––––––––––––––––––––

@font-face {
  font-family: 'CorpidLight';
  src: url("../fonts/CorpidC1-Light.eot?f9ad129");
  src: url("../fonts/CorpidC1-Light.eot?f9ad129#iefix") format("embedded-opentype"), url("../fonts/CorpidC1-Light.woff?f9ad129") format("woff"), url("../fonts/CorpidC1s-Light.otf?f9ad129") format("opentype");
}

@font-face {
  font-family: 'Corpid';
  src: url("../fonts/CorpidC1-Regular.eot?f9ad129");
  src: url("../fonts/CorpidC1-Regular.eot?f9ad129#iefix") format("embedded-opentype"), url("../fonts/CorpidC1-Regular.woff?f9ad129") format("woff"), url("../fonts/CorpidC1s-Regular.otf?f9ad129") format("opentype");
}

@font-face {
  font-family: 'Corpiditalic';
  font-style: italic;
  src: url("../fonts/CorpidC1-RegularItalic.eot?f9ad129");
  src: url("../fonts/CorpidC1-RegularItalic.eot?f9ad129#iefix") format("embedded-opentype"), url("../fonts/CorpidC1-RegularItalic.woff?f9ad129") format("woff"), url("../fonts/CorpidC1s-RegularItalic.otf?f9ad129") format("opentype");
}

@font-face {
  font-family: 'CorpidBold';
  font-style: bold;
  src: url("../fonts/CorpidC1-Bold.eot?f9ad129");
  src: url("../fonts/CorpidC1-Bold.eot?f9ad129#iefix") format("embedded-opentype"), url("../fonts/CorpidC1-Bold.woff?f9ad129") format("woff"), url("../fonts/CorpidC1s-Bold.otf?f9ad129") format("opentype");
}

@font-face {
  font-family: 'CorpidHeavy';
  src: url("../fonts/CorpidC1-Heavy.eot?f9ad129");
  src: url("../fonts/CorpidC1-Heavy.eot?f9ad129#iefix") format("embedded-opentype"), url("../fonts/CorpidC1-Heavy.woff?f9ad129") format("woff"), url("../fonts/CorpidC1s-Heavy.otf?f9ad129") format("opentype");
}

@font-face {
    font-family: "Icons";
    src:url('../fonts/icons.eot');
    src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons.woff') format('woff'),
        url('../fonts/icons.ttf') format('truetype'),
        url('../fonts/icons.svg#untitled-font-1') format('svg');
    font-weight: normal;
    font-style: normal;
}