// Panels
//––––––––––––––––––––––––––––––––––––––––––––––––––

.panel {

  &.hero {
    width: 100%;
    background: url(../demo/@hero-background.jpg) no-repeat;
    background-size: cover;
    padding: 3em 0 3em 0;
    
    h5.hero {
      font-size: 3em;
      display: inline;
      color: white;
      font-family: "corpid-heavy", "corpid", "Helvetica Neue", Arial, sans-serif;
      font-weight: 800;
      letter-spacing: .06em;
      background: $primary-color-red;
      padding: .2em .5em;
      margin-bottom: 1rem;
      line-height: 1.7;
    }
  }

  &.small {
    min-height: 50px;
      
      //Primary Colour Panels      
      &.alizarin100 {
        background-color: $alizarin100;
      }

      &.sunglow100 {
        background-color: $sunglow100;
      }

      &.blackBean100 {
        background-color: $blackBean100;
      }

      //Secondary Colour Panels
      &.skyBlue100 {
        background-color: $skyBlue100;
      }

      &.midnightBlue100{
        background-color: $midnightBlue100;
      }

      &.modestGrey100{
        background-color: $modestGrey100;
      }
  }
}