/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
  height: auto;
}
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


.titles{
  color: $color__black;
  text-decoration: none;
    &:hover{
         color:$color__railred;
        }
}

.wrap{
    padding:15px;
}
/*header section*/
header{
    z-index: 30;
    background: transparent;
    width: 100%;
    padding: 1rem;
    position: fixed;
    text-align: left;
    top:15px;
    @media (#{$bp-larger-than-mobile}) {height: 4.8rem;}
    @media (#{$bp-larger-than-tablet}) {height: 5rem;}
    /*drop the header*/
//    -moz-animation-name: dropHeader;
//    -moz-animation-iteration-count: 1;
//    -moz-animation-timing-function: ease-in-out;
//    -moz-animation-duration: 0.3s;
//    -webkit-animation-name: dropHeader;
//    -webkit-animation-iteration-count: 1;
//    -webkit-animation-timing-function: ease-in-out;
//    -webkit-animation-duration: 0.3s;
//    animation-name: dropHeader;
//    animation-iteration-count: 1;
//    animation-timing-function: ease-in-out;
//    animation-duration: 0.3s;
    @include fade(0.4s);
    .logo{
    margin-top: 0;
    top:0rem;
    @include fade(0.5s);
    @media (#{$bp-larger-than-mobile}) {
        max-width: 42px;
        position:relative;
        left:50%;
        margin-left: -30px;
        }
    @media (#{$bp-larger-than-phablet}) {
        max-width: 42px;
        position:relative;
        left:1.3rem;
        margin-left: 0;
        }
    @media (#{$bp-larger-than-tablet}) {max-width: 42px;}
    &:hover{
      opacity: 0.8;
    }
      }

    .menu{  
            @media (#{$bp-larger-than-mobile}) {display: none;}
            @media (#{$bp-larger-than-tablet}) {display: none;display: inline-block;}
            position: relative;
            top: -7px;
            left: 1.5rem;
        ul li {
            display:inline;
            font-weight: 600;
            vertical-align: top;
            margin: 0 3rem;
            a{color:$color__background;
            
                &:hover{
                    text-decoration: line-through;
                }
            }
            
        }
        &--mobile{
                @media (#{$bp-larger-than-mobile}) {display:inline-block;}
                @media (#{$bp-larger-than-desktop}) {display: none;}
            }
    }
}
header.smaller{
    background:$color--black;
    margin-top: -15px;
//  height: 0rem;

  .logo{
//    max-width:0%;
//    opacity: 0;
//    position: relative;
//    top:0rem;}
//    .menu-btn{
//      display:none;
    }
}
.first{
//    margin-top: 140px;
  }





/* COLOR WRAPS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color-wrap{
    @media (#{$bp-larger-than-mobile}) {padding: 4rem 0;}
    @media (#{$bp-larger-than-tablet}) {padding: 12rem 0;}
  float:left;
  width: 100%;
  .wrap-title{
    text-align:center; 
    color:$color__background; 
    h2{
      font-size:3rem;
      font-family:$font__sans-serif; 
      margin-bottom:0; 
      line-height:0;
    }
    span{opacity:0.75;}
  }
  .see-more{
    font-size:1.3rem;
    font-family:$font__serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding-bottom:0.5rem;
  }
}
.color-wrap--coral{
  background-color:$color__coral;
}

.color-wrap--yellow{
  background-color:$color__yellow;
    .article{
        border-top: 1px solid $color__black;
        position:relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .link{text-align: right;}
    }
    a{color: $color__black;}
    .showtitle {
    margin-bottom: 1rem;
    a{
      color:$color__black;
      &:hover{
        color:$color__deep-purple--dj;
      }
    }
  }
}

.color-wrap--railblue{
  background-color:$color__railblue;
}

.color-wrap--deep-purple{
  background-color:$color__deep-purple;
  .see-more{
    color:$color__deep-purple--seemore;
    border-bottom:1px solid $color__deep-purple;
    &:hover{
      color:white;
      border-bottom:1px solid white;
    }
  }
  .showtitle {
    a{
      color:$color__deep-purple--seemore;
      &:hover{
        color:$color__deep-purple--dj;
      }
    }
  }
  .showtitle__dj{  
    color:$color__deep-purple--dj;
  } 
}

.color-wrap--railred{
  background-color:$color__railred;
  .see-more{
    color:$color__railred--seemore;
    border-bottom:1px solid $color__railred;
    &:hover{
      color:white;
      border-bottom:1px solid white;
    }
  }
}

/* PODCASTS & Covers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cover-list{
  margin:0;
  display: block;
  figure{
    margin: 0rem;
    display: block;
    position: relative;
    overflow: hidden;
    height: auto;
    cursor: pointer;
    @media (#{$bp-larger-than-mobile}) {padding:0.5rem;}
    @media (#{$bp-larger-than-tablet}) {padding:0;}
    img{
      @include fade(0.3s);
      @include brightness(80%);
      &:hover{
        @include brightness(100%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
  }
  }
}
ul.podcast-covers{
  display: block;
  li{
    list-style-type: none;
    &:nth-child(3n+1) {
    clear: left;
    margin: 0rem 0 4% 0;
    }
  }
// img{display: block;}
figcaption{position:relative;
    height: 100%;
    color:white;
    display:block;
    width:100%;
    padding: 2rem 0 0 0;
    box-sizing:border-box;
    font-size: 1.5rem;
    font-family: $font__sans-serif;
    font-weight: 600;
  }

  .showtitle, .showtitle__dj{
    text-align:center;
    width: 100%;
    display: block;
  }
  .showtitle{
  font-family: $font__sans-serif;
  font-weight: 700;
  left:0;
  letter-spacing:1.3px;
  @include fade(0.3s);
  }
.showtitle__dj{  
  font-family: $font__sans-serif;
  font-size:1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding-bottom:1rem;
  } 
}




/* POSTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main{
  margin-top: 0rem;
}
.post__large {
  @media (#{$bp-larger-than-mobile}) {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0;
    overflow:visible;

  }
  @media (#{$bp-larger-than-tablet}) {height: 520px;}

  @media (#{$bp-larger-than-desktop}) {
    max-height:800px;
    height: 100vh;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin: 0;
    overflow:hidden;

    }
  }
.post__large--feat{
  @media (#{$bp-larger-than-mobile}) {width:100%; height:80%;}
  @media (#{$bp-larger-than-tablet}) {width:50%;height:100%;}
  float:left; 
  display:block;
  width:50%;
  background-color:$color__background;
  position: relative;
}

.home__cat__title{
    font-family: $font__serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    display:block;
    
 
}

.post__large--feat-fullscreen{
  @media (#{$bp-larger-than-mobile}) {width:100%; height:80%;}
  @media (#{$bp-larger-than-tablet}) {width:100%;height:100%;}
  float:left; 
  display:block;
  width:50%;
  background-color:$color__background;
  position: relative;
    h1{
        @media (#{$bp-larger-than-mobile}) {display:none;}
        @media (#{$bp-larger-than-tablet}) {display:block;}
        position:absolute;
        background:$color__black--80;
        bottom: 0;
        right:0rem;
        padding: 2rem;
        font-size: 1.5rem;
        text-align:left;
        color: $color__background;
        font-family: $font__serif;
        a{
            
        }
    }
}


.post__large--excerpt{
  @media (#{$bp-larger-than-mobile}) {
    padding: 2rem 2rem; 
    text-align: center;
    position: relative;
    top:0rem;
    @include transform-y(0%);
  }
    @media (#{$bp-larger-than-tablet}) {padding: 3rem 3rem;}
    @media (#{$bp-larger-than-desktop}) {
      padding: 0 7rem;
      position: relative;
      top: 50%;
      @include transform-y(-50%);
      }
    }
.post__large--feat-img{
  background-size:cover!important;
    background-position:center center!important;
    repeat: no-repeat;
    overflow: hidden;
    @media (#{$bp-larger-than-mobile}) {height:300px;}
    @media (#{$bp-larger-than-tablet}) {height:100%;}
    @include fade(0.3s);
    .transparent-link{
      display:block;
      @media (#{$bp-larger-than-mobile}) {
        margin-top: 40px;
        width: 100%;
        height: 250px;}
        @media (#{$bp-larger-than-tablet}) {
          margin-top: 0px;
          width: 100%;
          height: 100%;}
          }
        &:hover{
          @include brightness(80%);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        }
.post__excerpt{
  @media (#{$bp-larger-than-mobile}) {
    padding-top: 1.5rem;
    padding-bottom: 5.5rem;
    padding-left:2rem;
    padding-right:2rem;
  }
  @media (#{$bp-larger-than-tablet}) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left:0rem;
    padding-right:0rem;
  }
  p{ @media (#{$bp-larger-than-mobile}) {text-align: center;}
  @media (#{$bp-larger-than-tablet}) {text-align: left;}}
  .side-titles{
    box-sizing:border-box;
    @media (#{$bp-larger-than-mobile}) {
    text-align:center;
    margin-bottom: 3rem;
  }
  @media (#{$bp-larger-than-tablet}) {
    text-align:left;
    padding-top: 0.4rem;
    margin:0;
  }
  h2{
    margin: 0;
    line-height: 2.8rem;
    font-weight: 900;
    letter-spacing: 0.03rem;
    @media (#{$bp-larger-than-mobile}) {font-size: 2.5rem;}
    @media (#{$bp-larger-than-tablet}) {font-size: 2.2rem;}
    a{
      color: $color__black;
      text-decoration: none;
      &:hover{
        color:$color__railred;
      }
    }
  }
}
}
/* POST PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.post{
  .row{
    // p:first-of-type::first-letter{float: left; color: #903; font-size: 5rem; line-height: 5rem; font-weight:400; padding-top: 4px; padding-right: 6px; padding-left: 3px;}
  }

  @media (#{$bp-larger-than-mobile}) {
    .row{
      padding: 0 1rem;

    }
  }
  @media (#{$bp-larger-than-tablet}) {
  .row{
      padding: 0rem;

    }
    margin-bottom: 4rem;
  }

 

  #container{
      
  }

  
  h2{
    @media (#{$bp-larger-than-mobile}) {text-align: center; padding-bottom:1.5rem;}
    @media (#{$bp-larger-than-tablet}) {text-align:left;}
    margin-bottom: 3rem;
  }

  h3,h5{
    font-size: 1.95rem;
    letter-spacing: 0.002rem;
  }
  a{
    border-bottom:1px solid $color__railred;
    &:hover{
      color:$color__black;
      border-bottom: 1px solid $color__black;
    }
  }
}
.post__feat-img{
  margin-bottom: 4rem;
  background-size:cover!important;
  background-position:center center!important;
  @media (#{$bp-larger-than-mobile}) {
    height: 250px;
  }
  @media (#{$bp-larger-than-tablet}) {
    height: 500px;
  }
}
.post__bandcamp-player{
  border:0;
  width: 100%; 
  height: 120px;
  margin-bottom: 2rem;
}


.post__tags{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: $font__sans-serif;
  padding-bottom: 1.8rem;
    a{
    color:$color__black--80;
    border-bottom:1px solid $color__background;
    white-space: nowrap;
    &:hover{
      color:$color__railred;
      border-bottom:1px solid $color__railred;
    }
  }
}

.social-shares{
  li{
    width:40px;
    display: inline-block;
    margin-right:1rem;
    a, a:hover{
      border:none;
    }
  }
}

/* Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon__facebook--dark, .icon__twitter--dark,.icon__gplus--dark{
  fill:$color__black;
  width: 100%;
  @include fade(0.2s);
}

.icon__facebook--dark:hover{
  fill:#3b5998!important;
}

.icon__twitter--dark:hover{
  fill:#55acee;
}

.icon__gplus--dark:hover{
  fill:#d34836;
}


/* CATEGORY RESULTS PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.category-page__feat{
  padding-bottom: 3rem;
  // border-bottom:solid 1px $color__black;
}

.category-page{
}




/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer.foot{
  // margin-top: 6rem;
  padding-bottom: 3rem;
  min-height: 200px;
  text-align:center;
  background: $color__black;
  color: #fff;
  float: left;
  width:100%;
  .column{margin-left:0;}
  .one-third:nth-child(2){
  @media (#{$bp-larger-than-mobile}) {
    margin: 3rem 0;}
  @media (#{$bp-larger-than-tablet}) {
    margin:0;}
  }
  .central{
    @media (#{$bp-larger-than-mobile}) {
    border:0;
    }
  @media (#{$bp-larger-than-tablet}) {
    border-left: solid white 1px;
    border-right: solid white 1px;
    }
  }
  h3{
    font-size: 1.7rem;
    letter-spacing: 0.07rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .container{
    padding-top: 5rem;
   @media (#{$bp-larger-than-tablet}) { 
    padding-left:8rem;}
  }
  ul{
    box-sizing:border-box;
    li{
      list-style-type: none;
      margin: 0;
      line-height: 3rem;
      font-family: $font__serif;
      box-sizing:border-box;
      a{
        color: $color__background;
        text-decoration: none;
        list-style: none;
      }
    }
  }
}

/* ADDITIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.mobile-nav{
    @media (#{$bp-larger-than-mobile}) {display:block;}
    @media (#{$bp-larger-than-tablet}) {display:none;}
    width:100%;
    padding:2rem 0;
    background: $color__railred;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-family: $font__serif;
    color:$color__background;
    &:hover{
        color: $color__railred;
    }
}

.fade-in-element { 
  opacity: 0; 
}

.circles{
  @include border-radius(50%);
}
//hide show on mobile
.desktop{
    @media (#{$bp-larger-than-mobile}) {display: none;}
    @media (#{$bp-larger-than-desktop}) {display:block;}
  }
.mobile{
    @media (#{$bp-larger-than-mobile}) {display:block;}
    @media (#{$bp-larger-than-desktop}) {display:none;}
}

// Scrollbar
//––––––––––––––––––––––––––––––––––––––––––––––––––
//::-webkit-scrollbar {
//    width: 15px;
//}
//::-webkit-scrollbar-track {
//    background-color:$color__black--80;
//}
//::-webkit-scrollbar-thumb {
//    background-color: $color__black;
//    opacity: 0.5;
//}
//::-webkit-scrollbar-thumb:hover {
//    background-color: $color__black;
//} 

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



  .covers{
    @media (#{$bp-larger-than-mobile}) {text-align:center;}
      @media (#{$bp-larger-than-tablet}) {text-align:left;} 
    h2{
      font-size: 1.4rem;
      display: block;
      max-height: 25px;
      overflow: hidden;
      a{
        color: $color__black;
        &:hover{
        color: $color__railred;
        }
      }
    }
    a{
        color: $color__black;
        padding-bottom: 3.5rem;
        &:hover{
        color: $color__railred;
        text-align: center;
        }      
      }
    h2.releases{
      margin-bottom: 0rem;
      padding-bottom:0.25rem;
    }
    p{
      display: block;
      overflow: hidden;
      padding-top:0.7rem;
      @media (#{$bp-larger-than-mobile}) {height: auto;}
      @media (#{$bp-larger-than-tablet}) {height: 90px;}
    }
    img{
      @include fade(0.3s);
      @include brightness(100%);
      &:hover{
        @include brightness(80%);}
      
      }
    &:nth-child(3n+4){
    margin-left: 0;
    }
  }

  .fuller{
    @media (#{$bp-larger-than-mobile}) {padding:0%;
    padding-top:4rem;}
    @media (#{$bp-larger-than-tablet}) {padding:4%;padding-top:10rem;}
    @media (#{$bp-larger-than-desktop}) {padding:4%;
    padding-top:10rem;}
  }

  .orange{
    background-color:orange;
  }

  .scrolltop{
    position:fixed;
    bottom:8rem;
    right: 4rem;
    width: 50px;
    text-align: center;
  }

  iframe{
    width: 98%;
  }


.post .buybutton{
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid $color__railred;
    padding: 0.2rem 0.5rem;
    &:hover{
        background-color: $color__railred;
        color: $color__white;
        border-bottom: 1px solid $color__railred;
        
    }
}



.body-border{
    @media (#{$bp-larger-than-mobile}) {display:none;}
    @media (#{$bp-larger-than-tablet}) {display:block;}
    position:fixed;z-index:29;
    background-color:$color__black;
    &--top{top:0; width:100%; height:15px;}
    &--right{right:0; height:100%; width:15px;}
    &--left{left:0; height:100%; width:15px;}
    &--bottom{bottom:0; width:100%; height:15px;}
}


 .logo-small{
  width: 32px;
  opacity: 1;
  margin: 0 0 3rem 0;
 }