
/* Button Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$btn-font: $fontBold;
$btn-font-weight: normal;
$btn-font-size: 1.6rem !default;
$btn-font-size--small: 1.4rem !default;
$btn-width: 136px !default;
$btn-height: 36px !default;

// Basic
$btn: (
  color                 : $secondary-color-mblue,
  bg                    : $secondary-color-grey,
  border                : $secondary-color-grey,
  hover: (
    color               : $dark-grey,
    bg                  : $ctaGreySecondary,
    border              : $ctaGreySecondary
  )
);

// Primary
$btn-primary: (
  color                 : #fff,
  bg                    : $primary-color,
  border                : $primary-color,
  hover: (
    color               : #fff,
    bg                  : $link-color,
    border              : $link-color
  )
);

// CTA
$btn-cta: (
  color                 : $white,
  bg                    : $blackBean100,
  border                : $blackBean100,
  hover: (
    color               : $white,
    bg                  : $blackBeanDark,
    border              : $blackBeanDark
  )
);

// Confirm
$btn-confirm: (
  color                 : #fff,
  bg                    : $secondary-color-green,
  border                : $secondary-color-green,
  hover: (
    color               : #fff,
    bg                  : $ctaGreenSecondary,
    border              : $ctaGreenSecondary
  )
);

// Option
$btn-option: (
  color                 : #fff,
  bg                    : $ctaOrange,
  border                : $ctaOrange,
  hover: (
    color               : #fff,
    bg                  : $ctaOrangeSecondary,
    border              : $ctaOrangeSecondary
  )
);

// Delete
$btn-delete: (
  color                 : #fff,
  bg                    : $ctaRed,
  border                : $ctaRed,
  hover: (
    color               : #fff,
    bg                  : $ctaRedSecondary,
    border              : $ctaRedSecondary
  )
);
