/* Colours Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$white: #fff !default;
$light-grey: #e1e1e1;
$dark-grey: #333;
$primary-color: #33c3f0;
$secondary-color: lighten($dark-grey, 13.5%);
$border-color: #bbb;
$link-color: #1293d5;
$font-color: #222;
// Colors Delivery Hero

// Colour Spectrum

$alizarin100: #d61f26;
$alizarin75: #df6147;
$alizarin50: #e89076;
$alizarin25: #f2c3b1;
$sunglow100: #ffc713;
$sunglow75: #ffd360;
$sunglow50: #ffe094;
$sunglow25: #ffeec7;
$blackBeanDark: #32162C;
$blackBean100: #45233e;
$blackBean75: #654a5e;
$blackBean50: #8c7685;
$blackBean25: #bcafb7;
$skyBlue100: #00a6de;
$skyBlue75: #00b6e4;
$skyBlue50: #72c9eb;
$skyBlue25: #bae1f4;
$midnightBlue100: #343b46;
$midnightBlue75: #585963;
$midnightBlue50: #83828a;
$midnightBlue25: #b7b5ba;
$modestGrey100: #f5f5f6;
$modestGrey25: #f9fafa;
//Button Colours

$ctaGreen: #81c02f;
$ctaGreenSecondary: #468c3c;
$ctaOrange: #f8981b;
$ctaOrangeSecondary: #fc503c;
$ctaGrey: #d1d2d4;
$ctaGreySecondary: #9f9fa1;
$ctaYellow: $sunglow100;
$ctaYellowSecondary: #ffaa00;
$ctaRed: #d61f26;
$ctaRedSecondary: #9f0000;
$boxColor1:#bbbdc0;
$boxColor2:#d1d2d4;
$boxColor3:#ededee;
//Primary Colours

$primary-color-red: $alizarin100;
$primary-color-yellow: $sunglow100;
$primary-color-purple: $blackBean100;
$secondary-color-green: $ctaGreen;
$secondary-color-blue: $skyBlue100;
$secondary-color-mblue: $midnightBlue100;
$secondary-color-grey: $modestGrey100;
$secondary-color-orange: $ctaOrange;