
/* Layout Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Base Metrics */
$base-spacing           : 1rem !default;
$base-radius            : 2px !default;

/* Media Queries */
$xxs                    : 320px !default; // Smaller than mobile
$xs                     : 400px !default; // Larger than mobile
$sm                     : 550px !default; // Larger than phablet
$md                     : 750px !default; // Larger than tablet
$lg                     : 1000px !default; // Larger than desktop
$xl                     : 1200px !default; // Larger than Desktop HD

// Breakpoints
$bp-smaller-than-mobile   : "max-width: #{$xxs}" !default;
$bp-larger-than-mobile    : "min-width: #{$xs}" !default;
$bp-smaller-than-phablet  : "max-width: #{$sm - 1}" !default;
$bp-larger-than-phablet   : "min-width: #{$sm}" !default;
$bp-larger-than-tablet    : "min-width: #{$md}" !default;
$bp-larger-than-desktop   : "min-width: #{$lg}" !default;
$bp-larger-than-desktophd : "min-width: #{$xl}" !default;

// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.

// Larger than mobile
@media (#{$bp-larger-than-mobile}) {}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}

/* 12 Column Flexible Grid */
$fg-column              : 4.66666666667% !default; // Column Width
$fg-gutter              : 4% !default; // Gutter Width
$fg-max-columns         : 12 !default;
